@using OnlineShopMvc.App.DTOs.CategoryDTOs
@model CategoriesProductsDTO;

<!DOCTYPE html>
<html>
<head>
    <title>Products in Selected Category</title>
   
    <style>
      
        body {
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    @if (Model != null)
    {
        @if (TempData["Message"] != null)
        {
            <p>@TempData["Message"]</p>
        }

        <h3>Produkty należące do kategorii: @Model.Name</h3>

        <table>
            <thead>
                <tr>
                    <th>Numer</th>
                    <th>Nazwa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var (product, index) in Model.Products.Select((c, i) => (c, i)))
                {
                    <tr>
                        <td>@(index + 1)</td>
                        <td>@product.Name</td>
                        
                    </tr>
                }
            </tbody>
        </table>

        <form method="get" action="@Url.Action("ViewCategories", "AdminCategory")">
            <button type="submit">Powrót do listy kategorii</button>
        </form>
    }
    else
    {
        <p>Nie znaleziono produktów należących do tej kategorii</p>
    }

</body>
</html>