@using OnlineShopMvc.App.DTOs.CategoryDTOs
@model CategoriesForListDTO

<h2>Znaleziono @Model.Count Kategorii</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #007BFF;
        }

        table {
            width: 80%; /* Adjust the width as needed */
            margin: 0 auto; /* Center the table */
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
        }

        th {
            background-color: #007BFF;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .row {
            display: flex;
            justify-content: center;
        }

        .pagination {
            margin: 0;
            list-style: none;
        }

            .pagination li {
                display: inline;
                margin: 0 5px;
            }

            .pagination a {
                text-decoration: none;
                padding: 5px 10px;
                border: 1px solid #007BFF;
                color: #007BFF;
                border-radius: 3px;
            }

            .pagination .current {
                background-color: #007BFF;
                color: #fff;
                border: 1px solid #007BFF;
            }

        .btn {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
            border-radius: 3px;
        }

            .btn:hover {
                background-color: #0056b3;
            }

        .search-input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-right: 10px;
        }
    </style>

</head>
<body>
@if (Model != null)
{

    @if (TempData["Message"] != null)
    {
        <p>@TempData["Message"]</p>
    }
<table>
    <thead>
        <tr>
            <th>Numer</th>
            <th>Nazwa</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         @foreach (var (category, index) in Model.Categories.Select((c, i) => (c, i)))
        {
            <tr>
                <td>@((index + 1) + (10 * (Model.PageNum - 1)))</td>
                <td>@category.Name</td>
                <td></td>
               <td>
                   <form method="get" action="@Url.Action("UpdateCategory", "AdminCategory", new { id = category.Id })">
                    <button type="submit">Edytuj</button>
                    </form>
               </td>
                <td>
                        <form method="post" action="@Url.Action("RemoveCategory", "AdminCategory", new { id = category.Id })" onsubmit="return confirm('Czy na pewno chcesz usunąć tą kategorię?')">
                        <button type="submit">Usuń</button>
                    </form>
                </td>
                    <td>
                        <form method="get" action="@Url.Action("CategoryProducts", "AdminCategory", new { id = category.Id })">
                            <button type="submit">Zobacz produkty kategorii</button>
                        </form>
                    </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <table>
        <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i!=Model.PageNum)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                           <span>@i</span>
                        }
                    </td>
                }
        </tr>
            <form id="ViewCategories" method="get" action="@Url.Action("ViewCategories", "AdminCategory")">
                <input type="hidden" asp-for=SearchString name="name" id="name" value=@Model.SearchString />
                <input type="hidden" asp-for=PageNum name="pageNo" id="pageNo" value="1" />
                <input type="hidden" asp-for=PageSize name="pageSize" id="pageSize" value ="10"/>
            </form>
    </table>
     
</div>
    <form method="get" action="@Url.Action("ViewCategories", "AdminCategory")">
            <button class="btn" type="submit">Powrót do listy</button>
    </form>

<h2>Dodaj kategorię</h2>
 <form method="get" action="@Url.Action("AddCategory", "AdminCategory")">
    <button class="btn" type="submit">Dodaj</button>
</form>

<h2>Wyszukaj kategorię</h2>
<form method="get" action="@Url.Action("ViewCategories", "AdminCategory")"> 
 <input id="searchString" value="@Model.SearchString" type="text" asp-for=SearchString name="name" placeholder="Wyszukaj" />
            <button class="btn" type="submit">OK</button>
</form>
    <a href="@Url.Action("Index", "Home")">Powrót do strony głównej</a>
}
else
{

    <p>Nie znaleziono żadnych kategorii</p>

}
</body>
</html>


@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.getElementById("ViewCategories").submit();
        }    
    </script>
}