@using OnlineShopMvc.App.DTOs.UserDTOs
@model AdminsForListDTO

<h2>Znaleziono @Model.Count Użytkowników</h2>

@if (Model != null)
{
    @if (TempData["Message"] != null)
    {
        <p>@TempData["Message"]</p>
    }
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nazwa użytkownika</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (user, index) in Model.Admins.Select((c, i) => (c, i)))
            {
                <tr>
                    <td>
                        @((index + 1) + (10 * (Model.PageNum - 1)))
                    </td>
                    <td>@user.UserName</td>
                    <td>
                        <form method="get" action="@Url.Action("AdminDetails", "AdminUser", new { id = user.Id})">
                            <button type="submit">Resetuj hasło</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="@Url.Action("DeleteAdmin", "AdminUser", new { id = user.Id })" onsubmit="return confirm('Czy na pewno chcesz usunąć tego użytkownika?')">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" action="@Url.Action("UpdateAdmin", "AdminUser", new { id = user.Id})">
                            <button type="submit">Edytuj</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.PageNum)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
            <form id="ViewUsers" method="get" action="@Url.Action("ViewAdmins", "AdminUser")">
                <input type="hidden" asp-for=SearchName name="searchname" id="searchname" value=@Model.SearchName />
                <input type="hidden" asp-for=PageNum name="pageNo" id="pageNo" value="1" />
                <input type="hidden" asp-for=PageSize name="pageSize" id="pageSize" value="10" />
            </form>
        </table>
    </div>

    <h2>Dodaj administratora</h2>
    <form id="AddAdmin" method="Get" action="@Url.Action("AddAdmin", "AdminUser")">
        <button type="submit">Dodaj</button>
    </form>

    <h2>Wyszukaj administratora</h2>
    <form id="ViewUsers" method="get" action="@Url.Action("ViewAdmins", "AdminUser")">
        <input id="userName" value="@Model.SearchName" asp-for="SearchName" type="text" name="searchname" placeholder="Wyszukaj" />
        <button type="submit">OK</button>
    </form>
    <form method="get" action="@Url.Action("ViewUsers", "AdminUser")">
        <button type="submit">Powrót do pełnej listy</button>
    </form>
    <a href="@Url.Action("Index", "Home")">Powrót do strony głównej</a>
}
else
{
    <p>Nie znaleziono żadnych użytkowników</p>
}
@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.getElementById("ViewUsers").submit();
        }
    </script>

}
