@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj admin</h1>
</div>

<div class="text-center">
    <a href="@Url.Action("ViewCategories", "AdminCategory")" class="btn btn-primary">Zarządzaj kategoriami</a>
    <a href="@Url.Action("ViewClients", "AdminClient")" class="btn btn-primary">Zarządzaj klientami</a>
    <a href="@Url.Action("ViewProducts", "AdminProduct")" class="btn btn-primary">Zarządzaj produktami</a>
    <a href="@Url.Action("ViewTags", "AdminTag")" class="btn btn-primary">Zarządzaj tagami</a>
    <a href="@Url.Action("ViewOrders", "AdminOrder")" class="btn btn-primary">Zarządzaj zamówieniami</a>
</div>