@using OnlineShopMvc.App.DTOs.OrderDTOs;
@model OrdersForListDTO

@{
    ViewData["Title"] = "AdminOrderController";
}

<h2>Znaleziono @Model.Count Zamówień</h2>
<th>Domyślnie posortowano po dacie zamówienia</th>

@if (Model != null)
{ @if (TempData["Message"] != null)
    {
        <p>@TempData["Message"]</p>
    }
    <table>
        <thead>
            <tr>
                <th>Numer</th>
                <th>Data Zamówienia</th>
                <th>Całkowity koszt</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (order, index) in Model.Orders.Select((c, i) => (c, i)))
            {
                <tr>
                    <td>@((index + 1) + (10 * (Model.PageNum - 1)))</td>
                    <td>@order.OrderDate</td>
                    <td>@order.TotalCost</td>
                    <td><a href="@Url.Action("OrderDetails", "AdminOrder", new { id = order.Id })">Szczegóły</a></td>
                    <td>
                        <form method="post" action="@Url.Action("RemoveOrder", "AdminOrder", new { id = order.Id })" onsubmit="return confirm('Czy na pewno chcesz usunąć to zamówienie?')">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.PageNum)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
            <form id="ViewOrders" method="get" action="@Url.Action("ViewOrders", "AdminOrder")">
                <input type="hidden" asp-for=OrderDate name="orderDate" id="orderDate" value=@Model.OrderDate?.Date.ToString("yyyy-MM-dd") />
                <input type="hidden" asp-for=MinValue name="min" id="min" value=@Model.MinValue />
                <input type="hidden" asp-for=MaxValue name="max" id="max" value=@Model.MaxValue />
                <input type="hidden" asp-for=SortByPrice name="value" id="value" value=@Model.SortByPrice />
                <input type="hidden" asp-for=PageNum name="pageNo" id="pageNo" value="1" />
                <input type="hidden" asp-for=PageSize name="pageSize" id="pageSize" value="10" />
            </form>
        </table>
    </div>


<h2>Filtruj zamówienia według daty</h2>
<form method="get" action="@Url.Action("ViewOrders", "AdminOrder")">
    <label for="orderDate">Data Zamówienia:</label>
        <input type="date" id="orderDate" asp-for="OrderDate" value="@Model.OrderDate?.Date.ToString("yyyy-MM-dd")" name="orderDate" />
    <button type="submit">Filtruj</button>
</form>

<h2>Filtruj zamówienia według wartości</h2>
<form method="get" action="@Url.Action("ViewOrders", "AdminOrder")">
    <label for="minValue">Minimalna wartość:</label>
    <input type="number" id="minValue" name="min" asp-for="MinValue" value ="@Model.MinValue" step="0.01" />
    <label for="maxValue">Maksymalna wartość:</label>
    <input type="number" id="maxValue" name="max" asp-for="MaxValue" value="@Model.MaxValue" step="0.01" />
    <button type="submit">Filtruj</button>
</form>

<form method="get" action="@Url.Action("ViewOrders", "AdminOrder") ">
    <input type="hidden" id="value" name="value" value="0" />
    <button type="submit">Sortuj od najwyższej do najniższej ceny</button>
</form>

<form method="get" action="@Url.Action("ViewOrders", "AdminOrder")">
    <button type="submit">Powrót do pełnej listy</button>
</form>
<a href="@Url.Action("Index", "Home")">Powrót do strony głównej</a>
}
else
{
    <p>Nie znaleziono zamówień.</p>
}
@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) 
        {
            document.getElementById("pageNo").value = index;
            document.getElementById("ViewOrders").submit();
        }
    </script>

}
