@using OnlineShopMvc.App.DTOs.ClientDTOs
@model ClientsForListDTO

<h2>Znaleziono @Model.Count Klientów</h2>

@if (Model != null)
{
    @if (TempData["Message"] != null)
    {
        <p>@TempData["Message"]</p>
    }
    <table>
        <thead>
            <tr>
                <th>Numer</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Ulica</th>
                <th>Nr budynku</th>
                <th>Nr mieszkania</th>
                <th>Miasto</th>
                <th>Kod pocztowy</th>
                <th>Użytkownik</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (client, index) in Model.Clients.Select((c, i) => (c, i)))
            {
                <tr>
                    <td>@((index + 1) + (10 * (Model.PageNum - 1)))</td>
                    <td>@client.Name</td>
                    <td>@client.Surname</td>
                    <td>@client.Adress.Street</td>
                    <td>@client.Adress.BuildingNumber</td>
                    <td>@client.Adress.FlatNumber</td>
                    <td>@client.Adress.City</td>
                    <td>@client.Adress.ZipCode</td>
                    <td>@client.User.UserName</td>
                    <td>@client.User.Email</td>
                    <td></td>
                    <td>
                        <form method="post" action="@Url.Action("ClientDetails", "AdminClient", new { id = client.Id})">
                            <button type="submit">Edytuj</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="@Url.Action("RemoveClient", "AdminClient", new { id = client.Id })" onsubmit="return confirm('Czy na pewno chcesz usunąć tego klienta?')">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<div class="row">
    <table>
        <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.PageNum)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
        </tr>
            <form id="ViewClients" method="get" action="@Url.Action("ViewClients", "AdminClient")">
                <input type="hidden" asp-for=SearchName name="surname" id="surnname" value=@Model.SearchName />
                    <input type="hidden" asp-for=UserName name="username" id="username" value=@Model.UserName />
                <input type="hidden" asp-for=SearchCity name="city" id="city" value=@Model.SearchCity />
                <input type="hidden" asp-for=SearchBuilding name="buildingNumber" id="buildingNumber" value=@Model.SearchBuilding />
                <input type="hidden" asp-for=SearchStreet name="street" id="street" value=@Model.SearchStreet />
                <input type="hidden" asp-for=PageNum name="pageNo" id="pageNo" value="1" />
                <input type="hidden" asp-for=PageSize name="pageSize" id="pageSize" value="10" />
            </form>
    </table>
    </div>
   
  
    <h2>Wyszukaj klienta po nazwisku</h2>
    <form id="ViewClients" method="get" action="@Url.Action("ViewClients", "AdminClient")">
       <input id ="searchName" value="@Model.SearchName" asp-for="SearchName" type="text" name="surname" placeholder="Wyszukaj" />
     <button type="submit">OK</button>

        <h2>Wyszukaj klienta po nazwie użytkownika</h2>
    <form id="ViewClients" method="get" action="@Url.Action("ViewClients", "AdminClient")">
       <input id ="userName" value="@Model.UserName" asp-for="UserName" type="text" name="username" placeholder="Wyszukaj" />
     <button type="submit">OK</button>
    </form>

    </form>
    <h2>Wyszukaj klienta po:</h2>
    <form id="ViewClients" method="get" action="@Url.Action("ViewClients", "AdminClient")">
        <input id="searchStreet" type="text" asp-for="SearchStreet" value="@Model.SearchStreet" name="street" placeholder="Ulica" />
        <input id="searchBuilding" asp-for="SearchBuilding" value="@Model.SearchBuilding" type="text" name="buildingNumber" placeholder="Nr budynku" />
        <input id="searchCity" asp-for="SearchCity" value="@Model.SearchCity" type="text" name="city" placeholder="Miasto" />
        <button type="submit">OK</button>
    </form>
    <form method="get" action="@Url.Action("ViewClients", "AdminClient")">
        <button type="submit">Powrót do pełnej listy</button>
    </form>
    <a href="@Url.Action("Index", "Home")">Powrót do strony głównej</a>
}
else
{
    <p>Nie znaleziono żadnych klientów</p>
}
@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.getElementById("ViewClients").submit();
        }
    </script>

}




