@using OnlineShopMvc.App.DTOs.ProductDTOs;
@model ProductsForListDTO

@{
    ViewData["Title"] = "ProductController";
}

<h2>Produkty</h2>

@if (Model != null && Model.Products.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kategoria</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Category.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity @if (product.Quantity < 5)
                        {
                            <span style="color: red;">(Brakuje w magazynie)</span>
                        }</td>
                    <td>
                        <form method="post" action="@Url.Action("ProductDetails", "AdminProductTag", new { id = product.Id})">
                            <button type="submit">Edytuj</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="@Url.Action("RemoveProduct", "AdminProductTag", new { id = product.Id })" onsubmit="return confirm('Czy na pewno chcesz usunąć tego klienta?')">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nie znaleziono produktów</p>
}
<h2>Wyszukaj produkt po nazwie</h2>
<form method="get" action="@Url.Action("GetProductByName", "AdminProductTag")">
    <input type="text" name="name" placeholder="Wyszukaj" />
    <button type="submit">OK</button>
</form>
<h2>Filtruj produkty według ceny</h2>
<form method="get" action="@Url.Action("GetProductsFromValue", "AdminProductTag")">
    <label for="minValue">Minimalna wartość:</label>
    <input type="number" id="minValue" name="min" step="0.01" />
    <label for="maxValue">Maksymalna wartość:</label>
    <input type="number" id="maxValue" name="max" step="0.01" />
    <button type="submit">Filtruj</button>
</form>
<form method="get" action="@Url.Action("AddProduct", "AdminProductTag")">
    <button type="submit">Dodaj Produkt</button>
</form>
<form method="get" action="@Url.Action("GetProductsByCategory", "AdminProductTag")">
    <select name="categoryId">
        <option value="">Wybierz kategorię</option>
        @foreach (var category in Model.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <button type="submit">Sortuj</button>
</form>
<form method="get" action="@Url.Action("GetProductsFromTags", "AdminProductTag")">
    <select name="tagId">
        <option value="">Wybierz tag</option>
        @foreach (var tag in Model.Tags)
        {
            <option value="@tag.Id">@tag.Name</option>
        }
    </select>
    <button type="submit">Sortuj</button>
</form>
<form method="get" action="@Url.Action("ViewProducts", "AdminProductTag")">
    <button type="submit">Powrót do pełnej listy</button>
</form>
<a href="@Url.Action("Index", "Home")">Powrót do strony głównej</a>