@using OnlineShopMvc.App.DTOs.TagsDTOs;
@model TagsForListDTO

@{
    ViewData["Title"] = "AdminTagController";
}

<h2>Tags</h2>

@if (Model != null)
{
    <table>
        <thead>
            <tr>
                <th>Numer</th>
                <th>Nazwa</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var (tag, index) in Model.Tags.Select((c, i) => (c, i)))
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@tag.Name</td>
                    <td><a href="@Url.Action("UpdateTag", "AdminCategoryController", new { id = tag.Id })">Edytuj</a></td>
                    <td>
                        <form method="post" action="@Url.Action("RemoveTag", "AdminTagController", new { id = tag.Id })">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Dodaj tag</h2>
    <form method="post" action="@Url.Action("AddTag", "AdminTagController")">
        <input type="text" name="name" placeholder="Nazwa" />
        <button type="submit">Dodaj</button>
    </form>

    <h2>Wyszukaj tag</h2>
    <form method="get" action="@Url.Action("GetTagByName", "AdminTagController")">
        <input type="text" name="name" placeholder="Wyszukaj" />
        <button type="submit">OK</button>
    </form>
}
else
{
    <p>No tags found.</p>
}