@using OnlineShopMvc.App.DTOs.ProductDTOs
@model ProductDetailsDTO

@{
    ViewData["Title"] = "ProductDetails";
}

<h2>Edytowanie produktu</h2>

@if (Model != null)
{
    <form method="post" action="@Url.Action("UpdateProduct", "AdminProduct", new { id = Model.Id })">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="@Model.Name" required />

        <label for="price">Price:</label>
        <input type="text" id="price" name="price" step="0.01" value="@Model.Price" required />

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="@Model.Quantity" required />

        <label for="category">Category:</label>
        <select id="category" name="categoryId">
            <option >Select category</option>

       @foreach (var category in Model.Categories)
        {
                <option value=@category.Id >@category.Name</option>
        }
            <option selected="@Model.ProductCategory"></option>
        </select>

        <select name="tags" multiple>
            <option >Wybierz tag</option>
            @foreach (var tag in Model.Tags)
            {

                <option value="@tag.Id">@tag.Name</option>
            }
            <option selected="@Model.ProductTags"></option>
        </select>
      
        <button type="submit">Zatwierdź</button>
    </form>

    <form method="get" action="@Url.Action("ViewProducts", "AdminProduct")">
        <button type="submit">Powrót do listy</button>
    </form>
}
else
{
    <p>Nie znaleziono danych tego produktu</p>
 
}
