
<h2>Witaj, klient!</h2>


<div class="text-center">
    <a href="@Url.Action("ViewOrders", "AdminOrder")" class="btn btn-primary">Przeglądaj produkty</a>
    <a href="@Url.Action("ViewCategories", "AdminCategory")" class="btn btn-primary">Zobacz swoje zamówienia</a>
    <a href="@Url.Action("ViewClients", "AdminClient")" class="btn btn-primary">Edytuj dane</a>
    <a href="@Url.Action("ViewProducts", "AdminProduct")" class="btn btn-primary">Usuń konto</a>
    <a href="@Url.Action("ViewTags", "AdminTag")" class="btn btn-primary">Wyloguj</a>
</div>