@using OnlineShopMvc.App.DTOs.ClientDTOs;
@model ClientOrdersDTO

@{
    ViewData["Title"] = "ClientOrders";
}

<h2>Orders</h2>

@if (Model != null)
{
    <table>
        <thead>
            <tr>
                <th>Numer</th>
                <th>Data Zamówienia</th>
                <th>Całkowity koszt</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (order, index) in Model.Orders.Select((c, i) => (c, i)))
            {
                <tr>
                    <td>@((index + 1) + (10 * (Model.PageNum - 1)))</td>
                    <td>@order.OrderDate</td>
                    <td>@order.TotalCost</td>
                    <td><a href="@Url.Action("OrderDetails", "ClientShop", new { id = order.Id })">Szczegóły</a></td>
                </tr>
            }
        </tbody>
    </table>
 
}
else
{
        <p>Nie można dokonać tej akcji bez logowania. Nie wiemy kim jesteś.</p>
                <form method="get" action="@Url.Action("ClientDetails", "ClientData")">
            <button type="submit">Powrót</button>
        </form>
}